.worlds-hero{

    padding-top:180px;

    padding-bottom:120px;

    display:flex;

    justify-content:center;

    align-items:center;

    flex-direction:column;

    text-align:center;

}

.worlds-hero p{

    color:#C8A96A;

    letter-spacing:6px;

    margin-bottom:25px;

}

.worlds-hero h1{

    font-family:'Cormorant Garamond', serif;

    font-size:5rem;

    margin-bottom:25px;

}

.worlds-hero span{

    color:#8A8A8A;

    font-size:1.2rem;

}

/*=========================================
WORLD CARD
==========================================*/

.world-gallery{

    width:min(1200px,90%);

    margin:100px auto;

}

.world-card{

    display:grid;

    grid-template-columns:480px 1fr;

    gap:100px;

    align-items:center;

}

.world-cover img{

    width:100%;

    border-radius:10px;

    box-shadow:0 20px 60px rgba(0,0,0,.45);

    transition:.4s;

}

.world-cover img:hover{

    transform:translateY(-8px) scale(1.02);

}

.world-number{

    color:#C8A96A;

    letter-spacing:5px;

    font-size:.85rem;

}

.world-content h2{

    font-family:'Cormorant Garamond',serif;

    font-size:4rem;

    margin:20px 0;

}

.genre{

    color:#999;

    text-transform:uppercase;

    letter-spacing:3px;

    margin-bottom:35px;

}

blockquote{

    font-size:1.4rem;

    line-height:1.8;

    color:#DDD;

    border-left:2px solid #C8A96A;

    padding-left:30px;

    margin-bottom:50px;

}

.world-button{

    color:#C8A96A;

    text-decoration:none;

    border-bottom:1px solid transparent;

    transition:.3s;

}

.world-button:hover{

    border-color:#C8A96A;

}

.reverse{

    grid-template-columns:1fr 480px;

}

.reverse .world-content{

    order:1;

}

.reverse .world-cover{

    order:2;

}

.world-label{

    color:#C8A96A;

    letter-spacing:5px;

    text-transform:uppercase;

    margin-bottom:20px;

}

.divider{

    width:80px;

    height:2px;

    background:#C8A96A;

    margin:40px 0 50px;

}

.world-quote{

    font-size:1.5rem;

    max-width:600px;

    font-style:italic;

    line-height:1.8;

    color:#DDD;

    margin-bottom:50px;

}

.world-intro{

    font-size:1.25rem;

    font-weight:500;

    color:#D8B16A;

}

/*=========================================
CLOSING MESSAGE
==========================================*/

.closing-message{

    padding:220px 20px 180px;

    text-align:center;

}

.closing-content{

    max-width:750px;

    margin:auto;

}

.closing-label{

    color:#C8A96A;

    letter-spacing:6px;

    font-size:.85rem;

    margin-bottom:30px;

}

.closing-content h2{

    font-family:'Cormorant Garamond',serif;

    font-size:4rem;

    margin-bottom:35px;

}

.closing-text{

    color:#9A9A9A;

    font-size:1.25rem;

    line-height:2;

}